<?xml version="1.0" encoding="utf-8"?>

<suite name="Suite">

	<listeners><!-- 监听器设置，生成测试报告的监听器，不要改此处代码 -->
		<listener class-name="com.frame.listeners.ExtentIReporterListenerUtil"></listener><!-- extentreport报告的监听 -->
		<listener class-name="com.frame.listeners.RetryListener"/>  <!--这是失败重试的监听-->
		<listener class-name='com.frame.listeners.TestListener'/><!-- 失败截图的监听 -->

	</listeners>

	<test name="二手车">
		<classes>
			<class name="frame.CarListTest" />
			<class name="frame.AddCarTest" />


		</classes>
	</test>

</suite>
